/* Split page */

.split-left {
    height: 100vh;
    float: left;
    width: 67vw;
}

.split-right {
    border-left: 1px solid;
    position: fixed;
    float: right;
    right: 0;
    width: 30vw;
    height: 100vh;
    padding: 10px;
}
