/* Split page */

body{
    font-family: 'Open Sans Condensed', sans-serif;

}

table{
    width:80%;
    padding-left: 10px;
}

.split-left {
    height: 100%;
    overflow: auto;
    float: left;
    width: 70%;
}

.split-right {
    float: right;
    width: 25%;
    height: 100%;
    padding-left: 5px;
}

.top-banner{
    width:100%;
    height:10%;
}

.top-banner-left{
    float:left;
    width:60%;
    overflow:auto;
    padding-left:10px;
}

.top-banner-right{
    float:right;
    width:30%;
    padding-top:15px;
}

select#order {
    -webkit-appearance: button;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;
    background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
    background-position: 97% center;
    background-repeat: no-repeat;
    border: 1px solid #AAA;
    color: #555;
    font-size: inherit;
    margin: 20px;
    overflow: hidden;
    padding: 5px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100px;
}
