@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        @* Here's where we render the page title `String`. *@
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">

        <script src="https://unpkg.com/react@@15.3.0/dist/react.js"></script>
        <script src="https://unpkg.com/react-dom@@15.3.0/dist/react-dom.js"></script>
        <script src="https://unpkg.com/babel-core@@5.8.38/browser.min.js"></script>
        <script src="https://unpkg.com/jquery@@3.1.0/dist/jquery.min.js"></script>
    </head>
    <body>
        @content
    </body>
</html>
